/assets/*
/input/*
/output/*
/.venv/*
/.vscode/*
/poppler-24.08.0/*
/poppler/*
/build/*
/dist/*
/test/*
SignaturePDFTool.spec
/SignaturePDFTool_Distribution/*
todo.txt
signaturepdf.spec
launch_app.bat
*/__pycache__/*